<div class="w-full flex flex-col justify-center" *ngIf="loading">
    <p class="text-center text-primary-content bold text-lg">Memproses resep {{food_name}}</p>
    <span class="loading loading-bars loading-xl self-center my-2 text-primary-content "></span>
</div>
<div class="w-full flex justify-center" *ngIf="!loading">
    <div class="join">
        <div>
            <label class="input validator join-item">
                <input
                    type="text"
                    placeholder="Nama Masakan"
                    [(ngModel)]="food_name"
                >
            </label>
        </div>
        <button class="btn btn-neutral join-item" (click)="getFood()">Proses</button>
    </div>
</div>

<h2 class="text-center mt-4" *ngIf="!loading">pilih kategori :</h2>
<div class="max-w-[600px] flex flex-wrap gap-2 justify-center my-2" *ngIf="!loading">
    <button
        *ngFor="let item of category"
        class="btn btn-outline btn-primary-content"
        (click)="pickCategory(item.nama_id)"
    >
        {{item.nama_id}}
    </button>
</div>
